.footer-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  padding: 1rem 3rem;
  position: relative;
}
.footer-img {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 1rem;
}
.footer-img #footer-logo {
  height: 2.5rem;
}
.social-icons{
  position: absolute;
  right: 3rem;
  top: -.8rem;

}
 #facebook, #instagram  ,#twitter{
font-size: 1.9rem;
color: #353535;
  margin-left: .3rem;
  margin-top: .4rem;
  transition: all 500ms ease;
}
#facebook:hover, #instagram:hover  ,#twitter:hover{
  margin-bottom: .3rem;
}


.footer-img #compliance {
  height: 5rem;

  width: 7rem;
  margin: 0 auto;
}
.footer-flex li {
  list-style: none;
  line-height: 28px;
  font-size: 14px;
}
.address {
  text-align: end;
  font-size: 14px;
 
}
.footer-about {
  text-align: center;
  max-width: 50rem;
  margin: 2rem auto 5rem;
  font-size: 14px;
}
.footer-about p {
  line-height: 25px;
}
.footer-about a {
  color: #083e9e;
  font-weight: 500;
  text-decoration: none;
}
.two-grid {
  display: flex;
  gap: 3rem;
  margin-right: 5rem;

 
}

@media only screen and (max-width: 992px) {
  .footer-flex {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .footer-about {
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  .footer-flex ul {
    margin-left: -1rem;
  }
  .two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-flex .address {
    text-align: left;
    padding-left: 1rem;
  }
  .footer-img #compliance {
    margin: 0;
  }
  .footer-img #footer-logo {
    width: 12rem;
    padding-left: 0.6rem;
  }
}
