.iphone-btn{
    padding: .5rem;
    width: 5rem;
height: 3.5rem;
    border: 1px solid #d3d2d2;
    width: 10rem;
    border-radius: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.iphone-btn a{
    text-decoration: none;
    color: #000000;
}
