

.landing-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
  font-family: "U8" !important;
}
.landing-row .landing-left {
  flex: 1 1 auto;
}
.landing-row .landing-right {
  flex: 1 1 auto;
}
/* left  */
.landing-left {
  width: 22rem;
  padding: 0 6rem;
}
.landing-right {
  position: relative;
  padding-top: 2.5rem;
  padding-right: 9rem;
}
/* absolute position */
#rect {
  position: absolute;
  top: 0;
  left: 3rem;
}
#headerimg {
  position: absolute;
}
#investify {
  position: absolute;
  top: 25rem;
  right: 5.5rem;
  height: 8rem;
  z-index: 10;
}
#rentcard {
  position: absolute;
  height: 8rem;
  top: 10rem;
  left: -7rem;
  z-index: 10;
}
#cross {
  z-index: 12;
  position: absolute;
  top: 0.3rem;
  left: -2rem;
}
#circle {
  z-index: 12;
  position: absolute;
  top: 11rem;
  right: 11.6rem;
  animation: 0.8s ease-out 0s 1 downupmiddle;
}
#lineDot {
  z-index: 12;
  position: absolute;
  top: 22rem;
  left: -1rem;
}
.get-app {
  display: flex;
  gap: 2rem;
}

.landing-left h1 {
  padding-top: 2.5rem;
  margin-bottom: 0;
  max-width: 90%;
  font-size: 65px;
  color: #0c1825;
  line-height: 82.42px;
  animation: 0.9s ease-out 0s 1 downup;
}
.landing-left p {
  font-size: 17px;
  width: 90%;
  color: #353535;
  font-family: "DM Sans", sans-serif;
  line-height: 27.2px;
}
.landing-bttn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.get-app #getandroid:hover {
  margin-top: -0.5rem;
  transition: all 500ms ease;
}
.get-app #getiphone:hover {
  margin-top: -0.5rem;
  transition: all 500ms ease;
}
@keyframes downup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes downupmiddle {
  from {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(10%);
  }
}
@media screen and (max-width: 992px) {
  .landing-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing-left {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin: 0 auto;
  }
  .landing-left p {
    line-height: 27.2px;
    padding: 0 5rem;
    width: 100%;
  }
  .landing-left h1 {
    max-width: 100%;
    padding: 0 5rem;
  }
  .get-app {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .landing-bttn {
    justify-content: center;
    align-items: center;
  }
  .landing-right {
    margin-top: 3rem;
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  #investify {
    top: 20rem;
    left: 4rem;
    height: 8rem;
  }
  #lineDot {
    top: 17rem;
  }
  #rentcard {
    height: 6.5rem;
    top: 10rem;
    left: -2rem;
  }
  .landing-right {
    width: 75%;
  }
  .landing-right #headerimg {
    height: 24rem;
  }
  .landing-right #rect {
    height: 26rem;
    top: 1.5rem;
  }
  .landing-left {
    padding: 0;
  }
  .landing-left h1 {
    width: 100%;
    padding: 0 3rem;
    font-size: 45px;
    line-height: 1.3;
  }
  .landing-left p {
    width: 100%;
    padding: 0 2rem;
  }
}
