.featured-right img {
  height: 2rem;
}
.featured-right {
  display: inline-flex;
  gap: 2rem;
}
.featured-card {
  display: flex;
  height: 15rem;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: #f9f9f9;
  margin: 3rem 0;
}
.featured-left h4 {
  font-size: 2.3rem;
}

@media only screen and (max-width: 992px) {
  .featured-card {
    flex-direction: row;
    gap: 0;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .featured-card {
    flex-direction: column;
    gap: 0;
    height: auto;
  }
  .featured-right {
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 4rem;
  }
  .featured-left h4 {
    margin-top: 4rem;
  }
}
