

/* card */

.card{
    border-radius: 1rem;
    padding: 1.4rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#f9f9f9;
    height:100%;
    max-width:352px;
    
}
.card h4{
    font-size: 20px;
}

.card p{
    max-width: 290px;
    min-height: 80px;
    color: #353535;
}
.card img{
    height: 3.5rem;
}
.card #coloricon{
    height: 2rem;

}
.plan-btn span{
    font-weight: 500;
    color:#353535;
}
.plan-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.plan-btn:hover{
    margin-left: 1rem;
}