.sign-btn{
    font-family: 'DM Sans', sans-serif;
}

.sign-btn {
    display: flex;
    height: 3.4rem;
    align-items: center;
    justify-content: center;
    width: 6.5rem;
    text-align: center;
    border-radius: 0.6rem;
    transition: all 1s ease;
    font-size: 1.1rem;
    border: 1px solid rgb(206, 202, 202);
  }
  
  .sign-btn a {
    text-decoration: none;
    font-weight: 500;
    min-width: 7rem;
    padding: 1rem;
  }

.sign-btn:hover{
    border: 1px solid var(--hover-blue);
}
.sign-btn a:hover{
    color: var(--hover-blue); 
}