.sign-btn{
    font-family: 'DM Sans', sans-serif;
}

button{
    border: 1px solid #afaeae ;
    background-color: #ffffff;
    width: 6rem;
    padding:1rem;
    height: 3.3rem;
    font-weight: 700;
    text-align: center;
    border-radius:0.6rem ;
}

button:hover{
    color: var(--hover-blue);
    border: 1px solid var(--hover-blue);
}
