html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.show,
.hidden {
  display: none;
}
#signBtn{
height: 3.5rem;
}
#createBtn{
  width: 14rem;
}
.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 1rem 1.5rem;
}
.header .logo {
  flex: 1;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 5;
}
#logo {
  height: 2.45rem;
}
.auth {
  display: flex;
  gap: 1rem;
}
.header {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  padding: 1.3rem 5rem 1rem 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}
.shadow {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.save {
  border: 1px solid rgb(223, 216, 216);
  display: grid;
  width: 25rem;
  font-size: 14px;
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
}
.save div {
  display: flex;
}
.tooltip {
  position: relative;
}
.tooltip .save {
  visibility: hidden;
  position: absolute;
  left: -10rem;
  top: 1.55rem;
  z-index: 1;
}
.tooltip:hover .save {
  visibility: visible;
}
.grid-item {
  padding: 1.5rem;
}
.image1 img,.image2 img,.image3 img,.image4 img {
  height: 2rem;
}
.image1,.image2,.image3,.image4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1:hover {
  background-color: rgb(228, 222, 222);
  border-radius: 1rem 0 0 0;
}
.image4:hover {
  background-color: rgb(228, 222, 222);
  border-radius: 0 0 1rem 0;
}
.image2:hover {
  background-color: rgb(228, 222, 222);
  border-radius: 0 1rem 0 0;
}
.image3:hover {
  background-color: rgb(228, 222, 222);
  border-radius: 0 0 0 1rem;
}
.target {
  padding-left: 1.2rem;
}
.bar {
  font-size: 2.5rem;
}
@media only screen and (max-width: 992px) {
  .save {
    width: 20rem;
  }
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  .header {
    position: relative;
    position: fixed;
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 100%;
  }
  #logo {
    height: 2rem;
    margin-left: 1rem;
  }
  .nav-links a {
    display: block;
    padding: 0.5rem 0;
  }
  .nav-links {
    background-color: #ffffff;
    position: absolute;
    width: auto;
    top: 4rem;
    padding: 4rem 0;
    left: 0;
    right: 0;
    text-align: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .auth {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #createBtn {
    width: 90%;
    height: 3.7rem;
  }

  #signBtn{
    width: 90%;
    height: 3.7rem;
  }
  .bar button:hover {
    border: none;
    color: #000000;
  }
  .bar button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 2.4rem;
    line-height: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .header{
    margin: 0;
    padding: 1rem .7rem ;
  }
}