@font-face {
  font-family: "U8";
  src: url(../fonts/7017698b5c5a2cc397cd3b0c0984d76f.woff) format("woff"),
    url("../fonts/7017698b5c5a2cc397cd3b0c0984d76f.woff2") format("woff2");
}

:root {
  --hover-blue: rgb(13, 13, 253);
}
* {
  box-sizing: border-box;
}

body p,
span,
li {
  font-family: DM Sans, sans-serif;
}
body h1,
h4,
h2,
h3,
h5 {
  font-family: "U8", sans-serif;
}

.animation{
animation: 0.9s ease-out 0s 1 downup;

}

@keyframes downup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes downupmiddle {
  from {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(10%);
  }
}
